<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e1_down-hd_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,106}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{54,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,106}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{54,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{54,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{54,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{54,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{54,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{62,100}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{62,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{62,100}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{62,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,106},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,106},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,106},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,106},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,106},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,106},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,106},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,106},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,106},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,106},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,106},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,106},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,106},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{60,90}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,196},{60,88}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{60,88}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,196},{60,88}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{60,88}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,196},{60,86}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{60,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,196},{60,86}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{60,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,196},{60,86}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{60,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e1_down-hd_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,196},{60,86}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{60,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e1_down-hd.png</string>
            <key>size</key>
            <string>{240,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78cf42c0a7a7e31c6e3ce44976923874$</string>
            <key>textureFileName</key>
            <string>e1_down-hd.png</string>
        </dict>
    </dict>
</plist>
