<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_score_number-hd_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,0},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,48},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,48},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,48},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,48},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,48},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,48},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,48},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,96},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,96},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,96},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,96},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,96},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,96},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,96},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,144},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,144},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,144},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,144},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,144},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,144},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,144},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,192},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,192},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,192},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,192},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,192},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,192},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>ui_score_number-hd_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,192},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_score_number-hd.png</string>
            <key>size</key>
            <string>{240,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4509c211a15b19d880fdd8d70fec1f0c$</string>
            <key>textureFileName</key>
            <string>ui_score_number-hd.png</string>
        </dict>
    </dict>
</plist>
